set visualbell
set noerrorbells
set number
set relativenumber
set clipboard+=unnamed

set which-key
set notimeout

set ideajoin

let mapleader = " "

" splits
map <leader>sh <Action>(SplitHorizontally)
map <leader>sv <Action>(SplitVertically)
map <leader>sx <Action>(Unsplit)

" lsp
map ca <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)
map <leader>d <Action>(ShowHoverInfo)

" run/debug
map <leader>cr <Action>(Run)
map <leader>cd <Action>(Debug)
